body {
  font-family: 'Trebuchet MS', 'Tahoma, sans-serif;
  background-image: url("table.png");
  background-size: cover;
  text-align: center;
  color: white;
}

h1 {
  color : goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  background-color: goldenrod;
  width: 150px;
  color: #016f32;
}
